.main {
    width: 100%;
    background-color:#f5f3f5;
    position: relative;
    min-height: 900px;
    display: flex;
    flex-direction: column;

}
.body{
    width: 100%;
    flex:1;
}
.body-welcome{
    width: 100%;
    min-height: 400px;
    background-color: #e7c7c0;
}
.background{
    height:400px;
    width: 500px;
    float: right;
}
.body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.container-left, .container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.container-left{
    flex:0.35;
}
.container-right{
    flex: 0.65;
}
.container-right .box{
    width: 100%;
    height: 500px;
    background-color: white;
    border:2px solid #e2e0e2;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-radius: 12px;
    margin-bottom: 15px;
}
.news{
    width: 100%;
    flex:1;
    overflow: hidden;
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow-y: scroll;
}
.news::-webkit-scrollbar{
    display: none;
}
.news-form{
    margin-bottom: 15px;

}
   
.news-data{
    color:#1E3A28;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-form a{
    color:#1E3A28;
    text-decoration: none;
    font-weight: bold;
}
.news-form a:hover{
    color:#1E3A28;
}
.container-right .box .box-header{
    width: 100%;
    height: 60px;
    background-color: #78A570;
    display: flex;
    padding-left: 20px;
    border-radius: 12px;
    align-items: center;
    margin-top:-1px;
}
.container-right .box .box-header .box-header-title{
    color:#1E3A28;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;

}
.user-information{
    width: 80%;
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    border:2px solid #e2e0e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.btn-label{
    font-size: 22px;
    font-family:'Trajan';
    src: url('../../assets/fonts/Trajan\ Pro.ttf');
    color:#1E3A28;
    font-weight: bold;
}
.btn-process,.btn-authentication{
    width: 250px;
    height: 50px;
    margin-top: 10px;
    background-color: #D3F0D3;
    border:2px solid #b4c1b4;
}
.user-avatar{
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border:2px solid #b4c1b4;
}
.btn-process{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.firstname-label{
    font-family:'Trajan';
    src: url('../../assets/fonts/Trajan\ Pro.ttf');
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1E3A28;
    margin:0px

}
.pet-label{
    font-family:'Trajan';
    src: url('../../assets/fonts/Trajan\ Pro.ttf');
    font-size: 24px;
    color:#8D9986;

}
.appointment{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.appointment .appointment-box{
    width: 900px;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 15px;
}
.appointment .appointment-box::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: gray;
}
.appointment .appointment-box::-webkit-scrollbar{
    height: 10px;
}
  /* Track */
.appointment .appointment-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
}

.appointment .appointment-data{
    height: 300px;
    width: 300px;
    display: inline-block;
    background-color: #D3F0D3;
    margin-right: 15px;
    border-radius: 12px;
}